---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap&subset=latin-ext');

body { font-family: 'Inter', sans-serif; }

.page-header {
  background-image: url("../red.png"); background-size: cover;
    @include large {
      padding: 11rem 6rem;
    }

    @include medium {
      padding: 7rem 4rem;
    }

    @include small {
      padding: 2rem 1rem;
    }
  }

h1, h2, h3, h4, h5, h6 {
    color: #a92020;
  }
